/* Flex Utilities */
@utility flex-center {
    @apply flex items-center justify-center;
}

/* Gradient Utilities */
@utility gradient-light {
    @apply from-lg-start to-lg-end bg-linear-to-b;
}

@utility gradient-dark {
    @apply from-dg-start to-dg-end bg-linear-to-b;
}
