@import "tailwindcss";
@import "./css/theme.css";
@import "./css/utilities.css";

/* dark-mode variant */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* base styles */
@layer base {
    html {
        @apply gradient-light dark:gradient-dark bg-cover bg-fixed bg-no-repeat transition-colors duration-200 ease-out;
    }
}

/* component styles */
@layer components {
    main {
        @apply py-7;
    }

    .btn {
        @apply cursor-pointer rounded-3xl border-2 border-neutral-300 bg-neutral-50 px-4 py-2 text-neutral-950 transition-colors duration-200 hover:bg-neutral-100 focus-visible:ring-2 focus-visible:ring-red-500 focus-visible:ring-offset-2 focus-visible:outline-transparent dark:border-neutral-700 dark:bg-neutral-800 dark:text-neutral-50 dark:hover:bg-neutral-700;
    }

    .filter-btn.filter-btn-active {
        @apply border-red-400 bg-red-400 text-neutral-900 hover:border-red-500 hover:bg-red-500;
    }

    .extension-card {
        @apply flex flex-wrap items-center justify-between gap-12 rounded-2xl border-2 border-neutral-300 bg-neutral-50 p-4 dark:border-neutral-700 dark:bg-neutral-800 dark:text-neutral-50;
    }

    .extension-card .content-box {
        @apply flex w-full items-start justify-start gap-4;
    }

    .extension-card .title-box {
        @apply flex flex-col items-start justify-center;
    }

    .switcher {
        /* config */
        --ratio: 1.9;
        --padding: 2px;
        --w: 50px;
        --h: calc(var(--w) / var(--ratio));

        /* layout */
        width: var(--w);
        height: var(--h);
        appearance: none;
        -webkit-appearance: none;
        background: var(--color-neutral-300);
        border-radius: 1000px;
        position: relative;
        cursor: pointer;
        transition: background-color 0.2s ease-out;
    }

    [data-theme="dark"] .switcher {
        background-color: var(--color-neutral-700);
    }

    .switcher::before {
        --size: calc(var(--h) - 2 * var(--padding));

        content: "";
        position: absolute;
        width: var(--size);
        height: var(--size);
        top: var(--padding);
        left: var(--padding);
        background: var(--color-neutral-50);
        border-radius: 50%;
        transition: transform 0.2s ease-out;
    }

    .switcher.switcher-active {
        background: var(--color-red-400);
    }

    .switcher.switcher-active::before {
        transform: translateX(calc(var(--w) - var(--h)));
    }

    /* switcher accessbility */
    .switcher:focus-visible {
        outline: 2px solid var(--color-red-400);
        outline-offset: 2px;
    }

    .switcher:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
